.basic-grid {
  @include columns(6, $gutter: large, $flex-after: $x-small-width);
}
.page-feature {
  background: $gray-13;
  border-top: 1px solid lighten($gray-13, 5);

  @extend .container;

  .box {
    color: $gray-06;
    h4,h5 { color: $accent-light; }
    h6 { color: $gray-04; }

    a:hover {
      color: $gray-04;
    }

  }

  @include until-x-small {
    text-align: center;
  }
}

.feature-info {
  @include columns(2, $flex-before: $small-width, $flex-after: $x-small-width);
}

.card.feature {
  border-radius: 10px;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 20px 1px rgba(#000, 0.3);

  @include at-x-small {
    flex-basis: 100%;
  }

  @include at-small {
    flex-basis: calc(45% - #{$large-gutter});

    &:not(:first-child) {
      margin-top: - $container-padding;
      margin-bottom: - $card-padding;
    }
  }
  @include at-medium {
    &:not(:first-child) {
      margin-top: - ($container-padding + $card-padding);
      margin-bottom: - ($content-padding + 15px);
    }
  }

  .card-header { border-radius: 10px 10px 0 0; flex-grow: 1; }
  .card-content { border-radius: 0 0 10px 10px; }
}
