$nav-menu-width: 85vw;
$nav-menu-height: 70px;
.site-content {
  width: 100%;
  overflow-x: hidden;
}
.page-main {
  transition: $timing $duration transform;
  transform: translate3d(0,0,0);
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    box-shadow: rgba(#000, 0) 0 0 40px 2px;
  }
}

html {
  background: $nav-bg;
}

.top-nav {
  background: $nav-bg;

  &.alt {
    background: rgba(#000, .5);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    a { color: #fff; }
  }

  a {
    margin: 0 1em;
    color: $gray-08;
    text-decoration: none;
    font-size: 1.1em;
    &:hover { color: $gray-05; }
  }
}

.mobile-info {
  display: none;
  visibility: hidden;
  
  .contact {
    li { padding: .4em 0; }
  }
  .hours {
    font-size: 1.3em;
  }
}

@include until-small {
  .top-nav-container {
    text-align: center;

    &:before {
      display: block;
      content: "";
      height: $nav-menu-height;
      width: $nav-menu-width;
    }
    &:before, .nav-block, .mobile-info {
      opacity: 0;
      transition: $timing $duration*4 opacity;
    }
  }

  .top-nav {
    height: $nav-menu-height;
    overflow: visible;

    .nav-block {
      a {
        background: $gray-13;
        transition-property: color, background;
        &:hover { 
          background: lighten($gray-13, 5);
        }
        padding: 1em 1em;
        text-align: center;
        border-bottom: 1px solid $nav-bg;
        border-top: 1px solid lighten($gray-13, 5);
      }
    }

    .mobile-info {
      position: relative;
      max-width: $nav-menu-width;
      color: $gray-05;
      display: block;
      visibility: visible;

      h5 {
        color: $gray-03;
      }
    }

    .logo {
      top: 0;
      margin: 0;
      position: absolute;
      padding: 1em 0 .6em;
      left: calc(50% - 60px);
      transform: translate3d(0, 0, 0);
      transition-duration: $duration;
      transition-timing-function: $timing;
      transition-property: transform;
    }

    .nav-block {
      width: $nav-menu-width;
      display: flex;
      flex-flow: row wrap;
      position: relative;

      a {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }

  .show-nav {
    .page-main {
      transform: translate3d($nav-menu-width, 0, 0);
      &:before {
        box-shadow: rgba(#000, .8) 0 0 40px 4px;
        z-index: 2;
      }
    }
    .mobile-info, .nav-block {
      opacity: 1;
    }
    .logo {
      transform: translate3d(-8vw, 0, 0)
    }
  }
}

@include at-small {
  .top-nav-container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 1em;
  }
  .top-nav {

    .logo {
      position: relative;
      bottom: -.3em;
    }
    .toggle-nav {
      display: none;
    }
  }
}

.toggle-nav {
  transition: $timing $duration transform;
  position: absolute;
  top: 1em;
  left: .5em;
  background: none;
  border: none;
  z-index: 100;
  padding: 1.5em .8em;

  &:focus {
    outline: none; 
  }

  .icon {
    &, &:before, &:after {
      position: relative;
      display: block;
      width: 18px;
      height: 3px;
      background: #fff;
      transition: all .15s ease-in-out;
    }
    &:before, &:after {
      content: "";
    }
    &:before { top: -6px; }
    &:after { top: 3px; }

    @include until-small {
      .show-nav & {
        background: rgba(#fff, 0);
        &:before {
          transform: rotate(-45deg);
          top: -1px;
        }
        &:after {
          transform: rotate(45deg);
          top: -4px;
        }
      }
    }
  }
}
