$nav-menu-width: 85vw;
body {
  transition: $timing $duration transform;
  transform: translate3d(0,0,0);
  &:before, &:after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
  }

  &:before {
    transition: $timing $duration box-shadow;
    left: 0;
    width: 100vw;
    z-index: -1;
    box-shadow: rgba(#000, 0) 0 0 40px 2px;
  }
  &:after {
    z-index: -2;
    right: calc(100vw - 1px);
    width: calc(#{$nav-menu-width} + 1px);
    background: $nav-bg;
  }
}

.top-nav {
  background: $nav-bg;

  &.alt {
    background: rgba(#000, .5);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    a { color: #fff; }
  }

  a {
    margin: 0 1em;
    color: $gray-08;
    text-decoration: none;
    font-size: 1.2em;
    &:hover { color: $gray-05; }
  }
}
.mobile-info {
  display: none;
  visibility: hidden;
  .contact {
    li { padding: .4em 0; }
  }
  .hours {
    font-size: 1.3em;
  }
}

@include until-small {
  .top-nav-container {
    transform: translate3d(-$nav-menu-width, 0, 0);
    width: 100vw + $nav-menu-width;
    &:before {
      display: block;
      content: "Site Navigation";
      font-size: 1.4em;
      color: $gray-03;
      padding: 1.1em 0;
      text-align: center;
      width: $nav-menu-width;
    }
    &:before, .nav-block, .mobile-info {
      opacity: 0;
      transition: $timing $duration*4 opacity;
    }
  }

  .top-nav {
    height: 70px;
    overflow: visible;


    .nav-block {
      a {
        background: $gray-13;
        transition-property: color, background;
        &:hover { 
          background: lighten($gray-13, 5);
        }
        padding: 1em 1em;
        text-align: center;
        border-bottom: 1px solid $nav-bg;
        border-top: 1px solid lighten($gray-13, 5);
      }
    }

    .mobile-info {
      position: relative;
      z-index: -1;
      max-width: $nav-menu-width;
      color: $gray-05;
      display: block;
      visibility: visible;

      h5 {
        color: $gray-03;
      }
    }

    .logo {
      margin: 0;
      position: absolute;
      top: 0;
      padding: 1em 0 .6em;
      left: 27%;
      transform: translate3d(calc(85vw - 50%), 0, 0);
    }

    .nav-block {
      width: $nav-menu-width;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      z-index: -1;

      a {
        flex-basis: 100%;
        margin: 0;
      }
    }
  }

  .show-nav {
    width: 100vw;
    overflow: hidden;

    .top-nav-container {
      text-align: center;
    }

    body {
      transform: translate3d($nav-menu-width, 0, 0);
      &:before {
        box-shadow: rgba(#000, .8) 0 0 40px 4px;
        z-index: 2;
      }
    }
    .top-nav-container:before, .mobile-info, .nav-block {
      opacity: 1;
    }
    .toggle-nav {
      transform: translate3d(-$nav-menu-width, 0, 0);
    }
  }
}

@include at-small {
  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 1em;
  }
  .top-nav {

    .logo {
      position: relative;
      bottom: -.5em;
    }
    .toggle-nav {
      display: none;
    }
  }
}

.toggle-nav {
  transition: $timing $duration transform;
  position: absolute;
  top: 1em;
  left: .5em;
  background: none;
  border: none;
  z-index: 100;
  padding: 1.5em .8em;

  &:focus {
    outline: none; 
  }

  .icon {
    &, &:before, &:after {
      position: relative;
      display: block;
      width: 18px;
      height: 3px;
      background: #fff;
      transition: all .15s ease-in-out;
    }
    &:before, &:after {
      content: "";
    }
    &:before { top: -6px; }
    &:after { top: 3px; }

    @include until-small {
      .show-nav & {
        background: rgba(#fff, 0);
        &:before {
          transform: rotate(-45deg);
          top: -1px;
        }
        &:after {
          transform: rotate(45deg);
          top: -4px;
        }
      }
    }
  }
}
