.has-tooltip {
  cursor: pointer;
  &:before, &:after {
    opacity: 0;
    transition: none;
  }
  &:before { content: ""; }
  &:after { 
    content: attr(aria-label); 
    font-size: 0;
  }
}
.has-tooltip:focus, .has-tooltip:hover {
  position: relative;
  z-index: 1;
  &:before, &:after {
    opacity: 1;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    z-index: 100000;
    pointer-events: none;
    animation: fade-in .2s ease-in;
    animation-fill-mode: forwards;
  }
  &:after {
    -webkit-font-smoothing: subpixel-antialiased;
    top: calc(100% + 6px);
    background-color: rgba(#000, 0.8);
    color: #fff;
    white-space: nowrap;
    font-size: 10px;
    line-height: 1.5em;
    padding: 5px 8px;
    border-radius: $radius;
  }
  &:before {
    top: 100%;
    content: "";
    @include triangle(up, rgba(#000, 0.8), 6px);
  }
}
