<footer class="page-footer park-info">
  <div class='three-columns gutter match flex-small'>

    <div>
      <h5>Visitor Info</h5>
      <p>Phone: {% contact phone %}<br>
         Email: {% contact email %}</p>
      <p>{% contact address %}</p>

      <h5>Park Hours</h5>
      <p>{% hours %}</p>
      <p><small>Groups may reserve outside regular hours.</small></p>
    </div>

    <div>
      <h5>Quick Links</h5>
      <nav class='rows'>
        <a href="#">Plan Your Trip</a>
        <a href="#">Join Our Team</a>
        <a href="#">Specials</a>
        <a href="#">About Us</a>
        <a href="#">Camping</a>
        <a href="#">FAQs</a>
      </nav>
    </div>

    <div>
      <h5>Connect with us</h5>
      <nav class='rows'>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
        <a href="#">Pinterest</a>
      </nav>
      <h5>Join our Newsletter</h5>
      {% include newsletter.html %}
      <p><small>For news and special discounts</small></p>
    </div>
    
  </div>
</footer>
