<section class='page-feature'>
<div class='basic-grid'>
{% box .grow %}
<h6>Visitor Info</h6>

<div class='feature-info'>
  <div>
    <h5>Park Hours</h5>
    <p>{% hours %}</p>
    <p><small>Groups may reserve outside regular hours.</small></p>
  </div>

  <div>
    <h5>Directions & Contact</h5>
    <ul class='contact'>
      <li>{% contact directions icon %}</li>
      <li>{% contact phone icon %}</li>
      <li>{% contact email icon %}</li>
    </ul>
  </div>
</div>
{% endbox %}

{% event_card hsh .feature.one-of-two %}

{% box .grow %}
###### Latest News

#### DeSoto Caverns a Historic Shelter
Along with the world, we are rejoicing today that the Thai soccer team has emerged from their “wild cave" exploration to rejoin their families…

[Continue reading &rarr;](/#)
{% endbox %}
</div>
</section>
