/* ========================================================================== *
 * Card module
 * -------------------------------------------------------------------------- */

@mixin card {
  //box-shadow:
    //0 0 0 1px rgba($gray-11, .05),
    //0 1px 3px rgba($gray-11, .15);
  box-shadow: 0px 0px 10px 0px rgba(#000, 0.3);
}

@mixin card-padding($top: $card-padding, $right: $card-padding, $bottom: $card-padding, $left: $card-padding) {
  padding: $top $right $bottom $left;
  $multiple: 2;

  @include at-least($medium-width) {
    padding: ($top*$multiple) ($right*$multiple) ($bottom*$multiple) ($left*$multiple);
  }
}

.card {
  border-radius: $radius;
  background: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform: translate3d(0,0,0);

  @include collapse-bottom;
  @include collapse-top;
  @include card;

  &[class*='columns'] {
    position: relative;
    z-index: 1;
    flex-direction: row;

    &:before {
      content: '';
      @include card;
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &-heading {
    margin: 0;
  }

  &-content {
    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
    @include card-padding;
    &:not(&:first-child) {
      padding-top: 5px;
    }
    flex-grow: 1;
  }

  &-header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    overflow: hidden;
    @include card-padding($bottom: .3em);
    justify-content: space-between;

    *:first-child { margin-top: 0; }
    *:last-child { margin-bottom: 0; }
  }

  &-footer p {
    font-size: 12px;
  }

  &-well {
    padding: $card-padding;
    @include block-margin;
    position: relative;
    background: rgba($gray-07, .05);
    box-shadow: 
      0 0 0 1px rgba($gray-11, .05) inset,
      0 1px 1px 0 rgba($gray-11, .1) inset;
    border-radius: $radius;
  }

  &-divider {
    width: calc(100% + calc(#{$card-padding}*2));
    height: 1px;
    background: rgba($gray-11, .1);
    margin: 0 -#{$card-padding};
    display: flex;
  }

  &-footer {
    margin-bottom: 0;
    align-items: baseline;
    @include collapse-bottom;
    font-size: 12px;
    padding: 1px $card-padding $card-padding;
    background: $gray-01;
    box-shadow: 0 1px rgba($gray-11, .1) inset;
    background-clip: padding-box;
  }

  // Keep footer (or form if it wraps the footer)
  // nestled up against the card edges

  &.photo-card {
    background: transparent;

    .card-content {
      background: $white;
      flex-grow: 0;
    }

    .card-header {
      box-shadow: 0 0 0 1px rgba(#fff, .2) inset;
    }

    &:hover {
      .header-bg {
        transform: scale(1);
      }
    }
  }

  &.feature {
    margin-top: -($card-padding);
    margin-bottom: -($card-padding);
    border-radius: 10px;

    .card-header { border-radius: 10px 10px 0 0; }
    .card-content { border-radius: 0 0 10px 10px; }

    position: relative;
    z-index: 2;
    box-shadow: 0 0 20px 1px rgba(#000, 0.3);
  }
}
