@keyframes ken-burns {
  0%   { transform: translate3d(0,0,0) scale(1.25) }
  100% { transform: translate3d(0,0,0) scale(1) }
}

header {
  position: relative;
  overflow: hidden;
}

.photo-header {
  color: $white;
}

.page-header {
  min-height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  flex-flow: column;
  text-align: center;
  padding-bottom: 4vh;

  font-size: 1.8em;

  .header-bg {
    animation: ken-burns $timing 6.5s forwards;
    &:before { content: ""; }
  }

  h1 {
    margin-bottom: 1em;
    max-width: $max-width;
    line-height: 1.2em;
    font-weight: bold;
  }
  .hours {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }
}

.header-image {
  display: none;
}

.header-bg {
  -webkit-backface-visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.photo-header {
  background: none;
  flex-flow: column;
  min-height: 200px;
  justify-content: flex-end;
  flex-grow: 1;
  text-shadow: rgba(#000, .4) 0 0 10px;

  .header-bg {
    transform: scale(1.15);
    transition: transform $timing 1s;
  }

  .card-subtitle {
    margin-bottom: 0;
  }
  .card-title {
    margin-top: .1em;
  }

  .header-bg {
    &:before, &:after {
      height: 30%;
      width: 100%;
      background: linear-gradient(rgba(#000, 0), rgba(#000,.2), rgba(#000,.3));
      position: absolute;
      left: 0;
      z-index: -1;
    }
    &:after { bottom: 0; content: ""; }
    &:before { top: 0; transform: rotate(180deg); }
  }
}
