@keyframes ken-burns {
  0%   { transform: translate3d(0,0,0) scale(1.25) }
  100% { transform: translate3d(0,0,0) scale(1) }
}

header {
  position: relative;
  overflow: hidden;
}

.photo-header {
  color: $white;
}

.page-header {
  width: 100%;
  text-align: center;
  align-items: center;
  flex-flow: row wrap;
  display: flex;
  padding: 4vh 5vw;
  min-height: 30vh;

  @include at-least($small-width) {
    min-height: 50vh;
    padding: 4vh 5vw;
  }
  @include at-least($medium-width) {
    min-height: 70vh;
    padding: 5vh 10vw;
  }
  @include at-least($max-width) {
    padding: 8vh calc(50% - #{$max-width/2}) 6vh;
    min-height: 75vh;
  }

  .header-bg {
    animation: ken-burns $timing 6.5s forwards;
    &:before { content: ""; }
  }
  > * {
    width: 100%;
  }

  h1 {
    margin-bottom: 1em;
    line-height: 1.1em;
    font-weight: bold;
    font-size: 2.5em;

    @include at-least($small-width) {
      font-size: 3.5em;
    }
    @include at-least($medium-width) {
      font-size: 5em;
    }
  }

  .hours {
    font-size: 16px;
    width: 100%;
    text-align: center;
  }

  .button {
    font-size: 1.2em;

    @include at-least($small-width) {
      font-size: 1.4em;
    }
  }
}

.header-image {
  display: none;
}

.header-call-to-action {
  //align-self: flex-end;
}

.header-bg {
  -webkit-backface-visibility: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.photo-header {
  text-shadow: rgba(#000, .4) 0 0 10px;

  .card-subtitle {
    margin-bottom: 0;
  }
  .card-title {
    margin: 0 0 .4em;
  }

  .header-bg {
    &:before, &:after {
      height: 30%;
      width: 100%;
      background: linear-gradient(rgba(#000, 0), rgba(#000,.2), rgba(#000,.3));
      position: absolute;
      left: 0;
      z-index: -1;
    }
    &:after { bottom: 0; content: ""; }
    &:before { top: 0; transform: rotate(180deg); }
  }
}
