.container {
  padding-top: $card-padding;
  padding-bottom: $card-padding;

  @include at-least($small-width) {
    padding-top: $content-padding;
    padding-bottom: $content-padding;
  }

  @include at-least($medium-width) {
    padding-top: $container-padding;
    padding-bottom: $container-padding;
  }

  @include padded-max-width;
}
