$white: #fff;
$gray-01: #f7fafb;
$gray-02: #f5f7fa;
$gray-03: #e6e6e6;
$gray-04: #dfe3e6;
$gray-05: #d6dde7;
$gray-06: #c3cdda;
$gray-07: #b4c1d2;
$gray-08: #8c9ba5;
$gray-09: #5a6872;
$gray-10: #152934;
$gray-11: #0f212e;
$gray-12: #11161B; //nav
$gray-13: #1D272F; // feature

$blue-01: #5aaafa;
$blue-02: #5596e6;
$blue-03: #0094fd;
$blue-04: #006dff;
$blue-05: #3d70b2;

$yellow-01: #FFE092;
$yellow-02: #B48811;

$shell-bg: $gray-02;
$shell-text: $gray-09;
$nav-bg: $gray-12;
$accent-light: $yellow-01;
